.chat-body {
    background: linear-gradient(135deg, #181717, #070707); /* Gradient background */
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-image: url(./Chat.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .chat-container {
    background: linear-gradient(135deg, #0707072a, #2c3e50); /* Light gray background color */
    padding: 20px;
    border-radius: 8px;
    width: 35%;
    height: 90%;
    margin-left: 60%;
  }
  
  .message-container {
    height: 300px;
    overflow-y: scroll;
    padding: 10px;
    margin-bottom: 10px;
    height: 80%;
  }
  
  .message-wrapper {
    background-color: #beb3b3; /* Blue box color */
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 8px;
    display: block; /* Display as a block to ensure each message is on a new line */
  }
  
  .message-text {
    color: #000; /* Black text color */
  }
  
  .input-container {
    margin-top: 10px;
  }
  
  .message-input {
    padding: 8px;
    margin-right: 10px;
  }
  
  .send-button {
    padding: 8px;
    cursor: pointer;
    background-color: #3442db; /* Blue button color */
    color: #fff; /* White text color */
    border: none;
    border-radius: 4px;
  }x
  
  .send-button:hover {
    background-color: #1a1a19a4; /* Darker blue on hover */
  }
  